rbbl.buildingblocks/bin/Debug/net9.0/rbbl.buildingblocks.deps.json
rbbl.buildingblocks/bin/Debug/net9.0/rbbl.buildingblocks.dll
rbbl.buildingblocks/bin/Debug/net9.0/rbbl.buildingblocks.pdb
rbbl.buildingblocks/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
rbbl.buildingblocks/obj/Debug/net9.0/rbbl.buildingblocks.AssemblyInfo.cs
rbbl.buildingblocks/obj/Debug/net9.0/rbbl.buildingblocks.AssemblyInfoInputs.cache
rbbl.buildingblocks/obj/Debug/net9.0/rbbl.buildingblocks.assets.cache
rbbl.buildingblocks/obj/Debug/net9.0/rbbl.buildingblocks.csproj.AssemblyReference.cache
rbbl.buildingblocks/obj/Debug/net9.0/rbbl.buildingblocks.csproj.CoreCompileInputs.cache
rbbl.buildingblocks/obj/Debug/net9.0/rbbl.buildingblocks.csproj.FileListAbsolute.txt
rbbl.buildingblocks/obj/Debug/net9.0/rbbl.buildingblocks.dll
rbbl.buildingblocks/obj/Debug/net9.0/rbbl.buildingblocks.GeneratedMSBuildEditorConfig.editorconfig
rbbl.buildingblocks/obj/Debug/net9.0/rbbl.buildingblocks.GlobalUsings.g.cs
rbbl.buildingblocks/obj/Debug/net9.0/rbbl.buildingblocks.pdb
rbbl.buildingblocks/obj/Debug/net9.0/ref/rbbl.buildingblocks.dll
rbbl.buildingblocks/obj/Debug/net9.0/refint/rbbl.buildingblocks.dll
rbbl.buildingblocks/obj/project.assets.json
rbbl.buildingblocks/obj/project.nuget.cache
rbbl.buildingblocks/obj/rbbl.buildingblocks.csproj.nuget.dgspec.json
rbbl.buildingblocks/obj/rbbl.buildingblocks.csproj.nuget.g.props
rbbl.buildingblocks/obj/rbbl.buildingblocks.csproj.nuget.g.targets
rbbl.buildingblocks/bin/Debug/RBBL.BuildingBlocks.1.0.0.nupkg
rbbl.buildingblocks/bin/Debug/RBBL.BuildingBlocks.1.0.0.snupkg
rbbl.buildingblocks/bin/Release/RBBL.BuildingBlocks.1.0.0.nupkg
rbbl.buildingblocks/bin/Release/RBBL.BuildingBlocks.1.0.0.snupkg
rbbl.buildingblocks/bin/Release/net9.0/rbbl.buildingblocks.deps.json
rbbl.buildingblocks/bin/Release/net9.0/rbbl.buildingblocks.dll
rbbl.buildingblocks/bin/Release/net9.0/rbbl.buildingblocks.pdb
rbbl.buildingblocks/obj/Debug/RBBL.BuildingBlocks.1.0.0.nuspec
rbbl.buildingblocks/obj/Debug/RBBL.BuildingBlocks.1.0.0.symbols.nuspec
rbbl.buildingblocks/obj/Debug/net9.0/rbbl.buildingblocks.sourcelink.json
rbbl.buildingblocks/obj/Release/RBBL.BuildingBlocks.1.0.0.nuspec
rbbl.buildingblocks/obj/Release/RBBL.BuildingBlocks.1.0.0.symbols.nuspec
rbbl.buildingblocks/obj/Release/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
rbbl.buildingblocks/obj/Release/net9.0/rbbl.buildingblocks.AssemblyInfo.cs
rbbl.buildingblocks/obj/Release/net9.0/rbbl.buildingblocks.AssemblyInfoInputs.cache
rbbl.buildingblocks/obj/Release/net9.0/rbbl.buildingblocks.assets.cache
rbbl.buildingblocks/obj/Release/net9.0/rbbl.buildingblocks.csproj.AssemblyReference.cache
rbbl.buildingblocks/obj/Release/net9.0/rbbl.buildingblocks.csproj.CoreCompileInputs.cache
rbbl.buildingblocks/obj/Release/net9.0/rbbl.buildingblocks.csproj.FileListAbsolute.txt
rbbl.buildingblocks/obj/Release/net9.0/rbbl.buildingblocks.dll
rbbl.buildingblocks/obj/Release/net9.0/rbbl.buildingblocks.GeneratedMSBuildEditorConfig.editorconfig
rbbl.buildingblocks/obj/Release/net9.0/rbbl.buildingblocks.GlobalUsings.g.cs
rbbl.buildingblocks/obj/Release/net9.0/rbbl.buildingblocks.pdb
rbbl.buildingblocks/obj/Release/net9.0/rbbl.buildingblocks.sourcelink.json
rbbl.buildingblocks/obj/Release/net9.0/ref/rbbl.buildingblocks.dll
rbbl.buildingblocks/obj/Release/net9.0/refint/rbbl.buildingblocks.dll
